<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrhookv.GuitarTunerX2000"
    android:versionCode="1"
    android:versionName="Icy">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/guitar_color"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GuitarTunerX2000.NoActionBar">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TableActivity">
            <intent-filter>
                <action android:name="android.intent.action.ALL_APPS"/>
            </intent-filter>
        </activity>

        <activity android:name=".ChordActivity">
            <intent-filter>
                <action android:name="android.intent.action.ALL_APPS"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>